name: Rubocop

on:
  pull_request:
    branches:
      - master

permissions:
  pull-requests: write

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.5
          bundler-cache: true

      - name: Run rubocop with reviewdog
        uses: reviewdog/action-rubocop@v2
        with:
          rubocop_version: 1.79.1
          github_token: ${{ secrets.GITHUB_TOKEN }}
